<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cwnu_diner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_restaurant"
        android:label="창솔리"
        android:roundIcon="@mipmap/ic_restaurant_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddReviewActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>

        <activity android:name=".LicenseActivity" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <activity android:name=".MainActivity" />

        <activity android:name=".StoreListActivity" />
        <activity
            android:name=".SearchStoreActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".StoreClickActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

      <activity android:name=".MyReviewActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAF53ugPy_yMcY-WyUMzC1FbDpG403w0Uk" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>